@media (min-width: 768px) and (max-width: 1023.98px) {
  .banner {
    height: auto;
    .banner-content {
      width: 70%;
    }
    .heading {
      @include font(40);
    }
  }

  .top-bar {
    .top-bar-list {
      width: auto;
      flex-direction: row-reverse;
    }
  }

  .content-container {
    flex-direction: row !important;
    justify-content: space-between;
    .container-icon {
      @include font(40);
    }
  }
}

@media (min-width: 320px) and (max-width: 767.98px) {
  * {
    @include font(11);
  }

  .main-heading {
    @include font(15);
  }
  .nav-link {
    font-size: 14px;
    padding: 7px;
  }
  .banner {
    height: auto;
    .banner-image {
      width: 100vw;
      height: 100%;
    }
    .banner-content {
      width: 80%;
    }
    .heading {
      @include font(20);
    }
    .banner-button {
      width: 110px;
      margin-bottom: 5px;
      padding: 8px !important;
      @include font(9);
    }
  }

  .top-bar {
    .top-bar-list {
      width: auto;
      flex-direction: row-reverse;
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-container {
    flex-direction: row !important;
    justify-content: space-between;
    .container-icon {
      @include font(35);
    }
  }

  .contact-file {
    padding: 10px;
  }

  .copyright {
    @include font(10);
  }
}

@media (max-width: 991.98px) {
  .nav-menu {
    position: absolute;
    z-index: 3;
    top: 100%;
    text-align: center;
    background-color: $offwhite;
    width: 90vw;
    right: 0;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .banner {
    height: 80vh;
  }
  .top-bar {
    .top-bar-list {
      width: auto;
      flex-direction: row;
    }
  }
}
