@import "mixin";
@import "variables";

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  @include font(15);
}
.fix-width{
  max-width:1500px;
}
.nav-link{
  @include font(15);
}

.main-heading{
  @include font(15);
}

.top-bar {
  .cart-button {
    border: none;
    background-color: $white;
    @include icon-font(cart);
  }
  .top-bar-list{
    width:70%;
  }
}

.banner {
  height:60vh;
  overflow: hidden;
  @include image-width(banner);
  &::before {
    content: "";
    background-color: $off-black;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .banner-content {
    width:60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .heading {
    @include font(50);
    max-width:700px;
  }
  .banner-button {
    border-radius: 30px;
    width: 150px;
    @include font(12);
  }
}

.main-para{
  max-width:450px;
}

.about {
  @include icon-font(about);
  @include image-width(site);
  
}

.digital-design-icon {
  width: 100%;
}

.info {
  @include icon-font(info);
}

.features {
  @include image-width(feature);
}

.content-container {
  @include icon-font(container);
}

.creative-people {
  @include image-width(people);
  .about-btn {
    border-radius: 30px;
    width: 150px;
    @include font(12);
  }
}

.design-link{
  font-style: italic;
  padding:0 !important;
  @include font(20);
  &::after{
    content:"/";
    padding:0 15px;
  }
}
.design-nav:last-child .design-link{
 &::after{
  content:"";
  padding:0;
 }
}

.people-image{
  box-shadow: 2px 2px 5px 5px $shadow;
}

.latest-article {
  @include image-width(latest);
}

.client {
  @include icon-font(client);
  @include image-width(client);
}

.contact {
  .cont1-para {
    @include font(12);
  }
  .date {
    @include font(10);
  }
}

.portfolio {
  @include image-width(portfolio);
}

@import "media";